.header{
    background: $c-grey;
    &__container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &__logo-link{
        img{}
    }
    &__nav{
        margin-right: auto;
        margin-left: 80px;
        width: 320px;
        font-size: 1.15em;
        ul{
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
        }
        li{}
        a{
            color: inherit;
            text-decoration: none;
        }
    }    
    &__actions{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .action-call{
            color: inherit;
            text-decoration: none;
            font-size: 1.15em;
        }
        .question-btn{
        }
    }
    &__cart-btn{
        display: block;
        width: 44px;
        height: 44px;
        background-image: url('../img/icon-cart-1.png');
        background-repeat: no-repeat;
        margin: 0 15px 0 20px;
    }
            
}
