.shop{
    background-color: $c-pink-2;
    &__container{
        padding: 50px 0;
    }
    &__header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav{
            ul{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li{
                list-style: none;
                margin-right: 15px;
                &:first-child{
                    a{
                        padding-left: 2.5em;
                        padding-right: 2.5em;
                    }
                }
            }
            a{
                color: inherit;
                text-decoration: none;
                padding-left: 4em;
                padding-right: 4em;
            }
        }
    }
    
    &__view-toggle{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        a{
            color: transparent;
            display: block;
            background-repeat: no-repeat;
            background-position: left top;
            //transition: 350ms;
            &:hover{
                background-position: left bottom;
            }
            &.active{
                background-position: left bottom;
            }
        }
        .view-grid{
            width: 25px;
            height: 25px;
            background-image: url('../img/view_toggle-grid.png');    
        }
        .view-list{
            width: 26px;
            height: 25px;
            background-image: url('../img/view_toggle-list.png');    
        }
    }
    
    &__products{
        margin-top: 55px;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.product-mini{}
$pbr: 25px;
.pm{
    width: 265px;
    flex: 0 0 auto;
    margin-bottom: 20px;
    &__photo-wrpr{
        width: 100%;
        height: 185px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
        background-color: white;
        overflow: hidden;
        border-radius: $pbr $pbr 0 0;
        
        img{
            width: auto;
            height: auto;
        }
    }
    &__info{
        background-color: white;
        overflow: hidden;
        border-radius: 0 0 $pbr $pbr;
        padding: 5px 10px 7px 15px;
    }
    &__name{
        font-size: 1.4em;
    }
    &__name-sub{
        font-size: 1em;
        margin-top: -5px;
    }

    &__acts{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__price{
        font-size: 1.6em;
        font-weight: 600;
        p{}
        .sign{
            margin-left: 0.1em;
        }
    }
    &__into-cart{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
        span{
            line-height: 1em;
            display: block;
            font-size: 0.8em;
            font-weight: 600;
            transition: 300ms;
        }
        i{
            display: block;
            width: 33px;
            height: 33px;
            background-image: url('../img/pm_cart-icon.png');
            background-repeat: no-repeat;
            background-position: top left;
            margin-left: 5px;
        }
        &:hover{
            span{
                opacity: 0.75;
            }
            i{
                background-position: bottom left;
            }
        }
    }
    &__desc{
        padding: 15px;
        font-size: 0.875em;
        line-height: 1em;
    }
}