.btn{
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    text-align: center;
    &-pink{
        background-color: $c-pink-2;
        color: $c-pink-3;
        padding: 0.85em 1.5em;
        border-radius: 1.5em;
        transition: 350ms;
        &:hover{
            background: $c-pink-3;
            color: white;
        }
    }
    &-pink-dark{
        background: $c-pink-3;
        color: white;
        padding: 0.85em 2em;
        border-radius: 1.5em
    }
    &-white{
        background: white;
        color: $c-pink-3;
        padding: 0.85em 2em;
        border-radius: 1.5em;
        transition: 350ms;
        &:hover{
            background: $c-pink-3;
            color: white;
        }
    }
    &-trans{
        border: solid 1px $c-pink-3;
        border-radius: 1.5em;
        color: $c-pink-3;
        padding: 0.85em 1.5em;
        transition: 300ms;
        &:hover{
            background-color: $c-pink-2;
            border: solid 1px $c-pink-2;
        }
    }
}

input{
    &[type=text]{
        width: 100%;
        background-color: transparent;
        border: solid 1px $c-pink-3;
        border-radius: 2em;
        color: $c-pink-3;
        font-size: 1em;
        text-align: center;
        padding: 0.75em 1em;
        outline: NONE !important;
    }
    &[type=submit]{
        width: 100%;
        background: white;
        color: $c-pink-3;
        padding: 0.75em 1em;
        border-radius: 1.5em;
        transition: 350ms;
        text-align: center;
        font-size: 1em;
        outline: NONE !important;
        &:hover{
            background: $c-pink-3;
            color: white;
        }
    }
}
.form__items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__desc{
    font-size: 0.75em;
    margin-top: 1em;
}
.form__item{
    flex-grow: 1;
    flex-shrink: 0;
    margin: 5px;
    .input-wrpr{
        width: 100%;
        max-width: 250px;
    }
    .submit-wrpr{
        width: 100%;
        max-width: 165px;
    }
}

.sn{
    display: inline-block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: cover;
    &-fb{
        background-image: url('../img/sn-fb.png');
    }
    &-inst{
        background-image: url('../img/sn-inst.png');
    }
    &-big{
        width: 44px;
        height: 44px;
    }
    &-big-fb{
        background-image: url('../img/sn-fb-big.png');
    }
    &-big-inst{
        background-image: url('../img/sn-inst-big.png');
    }
}


.pagination-ul{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    a{
        color: inherit;
        text-decoration: none;
    }
}